.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.login__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  
}
.login__input {
    width: 300px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: black;
    color:white;
    border-top: none;
    border-right: none;
    border-left: none;
}
.login__actions{
    width: 100%;
}
.login__action-button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  align-self: stretch;

}

.login__action-link {
  margin-top: 1rem;
  text-align: center;
  color: white;
}


.login__input:-webkit-autofill,
.login__input:-webkit-autofill:hover,
.login__input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  border-top: none;
  border-right: none;
  border-left: none;
}